.btn {
  border-radius: 15px;
  height: 35px;
  width: 140px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.btn[ngStyle] {
  /* Si customColor est appliqué, la couleur inline a priorité */
}
