.btn {
  background-color: #CEE5BF;
  border-radius: 15px;
  height: 35px;
  width: 140px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #3891A6;
    transform: scale(1.05);
    transition: 0.5s;
  }
}
