<div class="container-header">


  <div class=" container-button-left">

    <a href="/home">
    <app-custom-buttons customColor="#CEE5BF" textButton="Explorer"></app-custom-buttons>
    </a>

    <app-custom-buttons customColor="#CEE5BF" textButton="Communauté"></app-custom-buttons>
  </div>


  <div class="container-button-center">
    <img alt="Mountain Journey Logo" class="logo" height="100" ngSrc="/assets/Images/logo-transp.png"
         width="100">
  </div>


  <div class="  container-button-right">

<a href="/maps">
  <app-custom-buttons customColor="#CEE5BF" textButton="Mes cartes"></app-custom-buttons>
</a>



    @if (authService.user(); as user) {
      <span>{{ user.userFirstName }} {{ user.userLastName }}</span>
      <button (click)="authService.logout()">Déconnexion</button>
    } @else {

    <a href="/login">
<app-custom-buttons customColor="#3891a6" textButton="Se connecter"></app-custom-buttons>
</a>
    }


  </div>

</div>


