<div class="container-header">


  <div class=" container-button-left">

    <app-custom-buttons textButton="Explorer"></app-custom-buttons>


    <app-custom-buttons textButton="Communauté"></app-custom-buttons>
  </div>


  <div class=" container-button-center">
    <img alt="Mountain Journey Logo" class="logo" height="150" ngSrc="/assets/Images/logo-transp.png"
         width="150">
  </div>


  <div class="  container-button-right">

    <app-custom-buttons textButton="Mes cartes"></app-custom-buttons>


    <app-custom-buttons textButton="cool"></app-custom-buttons>
  </div>

</div>

