
.container-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

}


.container-button-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 100px;
  min-width: 40%;
}

.container-button-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-width: 20%;
}

.container-button-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 100px;
  min-width: 40%;
}


.logo {


  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}
