.main-containeur {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}


.header-container {
  min-height: 15vh;
  width: 100%;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

.content-containeur {
  height: 100%;
  width: 100%;
  flex: 1;
}

.footer-container {
  min-height: 9vh;
  width: 100%;
  flex-shrink: 0;
  display: flex;
}

.footer-container app-footer {
  display: flex;
  width: 100%;
  height: 100%;
}
