.main-containeur {
  height: 100vh;
  width: 100%;
  background: #FEF8F0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-container {
  height: 15vh;
  width: 100%;
  flex-shrink: 0;
}

.content-containeur {
  height: 75vh;
  width: 100%;
  flex-shrink: 0;
}

.footer-container {
  height: 8vh;
  width: 100%;
  flex-shrink: 0;
  display: flex;
}

.footer-container app-footer {
  display: flex;
  width: 100%;
  height: 100%;
}
