.footer-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  Background-color: red;
}

p {
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  font-size: 11px;
  font-style: italic;
  text-align: center;
}
