.footer-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

p {
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}


.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 10px;
  height: 30px;
  margin: auto 0;
}


