@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
}

body {
  font-family: 'Kanit', sans-serif !important;
}

* {
  font-family: 'Kanit', sans-serif !important;
}

#root, app-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
