@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif !important;
}

* {
  font-family: 'Kanit', sans-serif !important;
}

#root, app-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.palette-app-couleur1 {
  background-color: #3891A6;
}

.palette-app-couleur2 {
  background-color: #CEE5BF;
}

.palette-app-couleur3 {
  background-color: #F7ECDE;
}

.palette-app-couleur4 {
  background-color: #FEF8F0;
}
.palette-app-couleur5 {
  background-color: #000000;
}


